/*
 * This file also get included on the published version of a page (not only when the toolbar is in edit mode)
 */

.layouterRow--equalHeight {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
