{% load sekizai_tags %}
{% load staticfiles %}
<div class="row layouterRow--outer">
    <div class="col-md-offset-{{ instance.margin }} col-md-{{ width }}">
        <div class="row layouterRow--inner
        {% if request.session.layouter_grid %}show-grid{% endif %}
        {% if instance.equal_height %}layouterRow--equalHeight{% endif %}
        {{ instance.css_classes }}">
            {% include 'layouter/partials/one_col.html' %}
            {% include 'layouter/partials/two_cols.html' %}
            {% include 'layouter/partials/three_cols.html' %}
            {% include 'layouter/partials/four_cols.html' %}
        </div>
    </div>
</div>
{# The following JavaScript and Styles are only needed in editing mode. #}
{% if request.toolbar.edit_mode %}
    {% csrf_token %}
    {% addtoblock 'css' %}
        <link rel="stylesheet" href="{% static 'layouter/css/layouter.css' %}">
    {% endaddtoblock %}
    {% addtoblock 'js' %}
        <script>
            var toggleGridURL = '{% url 'layouter:toggle-grid' %}';
        </script>
        <script src="{% static 'layouter/js/layouter.js' %}" defer></script>
    {% endaddtoblock %}
{% endif %}